.box{
    position: absolute;
    width: 100%;
    height: 100%;   
}
.Button{
    width: 380px;
    position: relative;
    left: 15px;
}
.finishbutton{
    position: relative;
    width: 380px;
    margin: 0 auto;
    margin-top: 40px;
}
.phoneenter{
    position: relative;
    width: 380px;
    margin: 0 auto;
    top :20px;
}