.Logo{
    position: relative;
    width: fit-content;
    top:10px;
    margin: 0 auto ;
}
.Botton{
    position: relative;
    width: 380px;
    margin: 0 auto;
    top: 20px;
}
.Text12{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 34px;
    opacity: 87%;
}
.Text22{
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: 14px;
    opacity: 60%;
}