.SidebarImg {
  margin: 30px 0 16px 16px;
}

.SidebarText {
  margin: 30px 0 8px 16px;
}

.SidebarTitle {
  font-size: 20px;
  font-weight: bold;
}

.SidebarContent {
  font-size: 14px;
}

.SidebarText p {
  margin: 0px;
}

.Sidebar a {
  text-decoration: none;
  color: #000;
}
.sidebarimage {
  margin: 0 16px;
}
