.SidebarImg {
  margin: 40px 16px 0 16px;
}

.SidebarText {
  margin: 30px 0 8px 16px;
}

.SidebarTitle {
  font-size: 20px;
  font-weight: bold;
}

.SidebarContent {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.SidebarText p {
  margin: 0px;
}

.Sidebar a {
  text-decoration: none;
  color: #000;
}

.appbar button {
  margin: 0;
}
.link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.link > div:hover {
  background: #e1f4fd;
  color: #02a2ee;
}
