* {
  margin: 0;
  border: 0;
  box-sizing: 0;
}

.button {
  margin: 8px;
  padding: 8px;
}
.Table {
  margin: 0 auto;
  width: 350px;
  padding: 30px ;
}

.home {
  text-align: center;
}
.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  margin: 0 auto; 
  
}


.Title1 {
  margin: 6px 0px;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  position:relative;
}
.Title2 {
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #00000099;
  position:relative;
}
