.button {
  margin: 0 auto;
  color: #02a2ee;
}
.Table {
  margin: 0 auto;
  width: 350px;
  padding: 30px 0;
}

.home {
  text-align: center;
}

img {
  border-radius: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0px;
  position: static;
}
h1 {
  border-radius: nullpx;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
h2 {
  border-radius: nullpx;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #00000099;
}
