.bar {
  background-color: #02a2ee;
  color: #ffffff;
}
.num_class {
  background: #ffffff;
  border: 1px solid #e0e0e0;
}
.disable_class {
  background: #e5e5e5;
  border: 1px solid #e0e0e0;
}
.input_num_text{
  justify-content: center;
}
.finish_btn{
  padding: 8px;
}
.Text1{
  position: relative;
  top:20px;
  margin-top: 10px;
  font-size: 14px;
  opacity: 60%;
  width: fit-content;
  margin: 0 auto;
}
.buttongroup{
  position: relative;
  display: flexbox;
  width: 336px;
  height: 368px;
  top: 50px;
  margin-top: 20px;
  margin: 0 auto;
}
.choose{
  position: relative;
  width: 380px;
  height: 48px;
  margin: 0 auto;
  margin-top: 45px;
}
.Textchoose{
  position: relative;
  width: 80px;
  top: 2px;
  padding-top: 2px;
}
.phonenumber{
  position: relative;
  width: 380px;
  top: 15px;
  margin: 0 auto;
}
.rules{
  position: relative;
  width: 380px;
  margin: 0 auto;
  top :20px;
}
.buttonsend{
  position: relative;
  width: 380px;
  top: 30px;
  margin: 0 auto;
}
.group{
  position: relative;
  margin-top: 10px;
}
.dialog{
  text-align: center;
}
.divider{
  position: relative;
  width: 450px;
  margin: 0 auto;
}
.divider2{
  position: relative;
  width: 420px;
  top: 30px;
  margin: 0 auto;
}