.Homepage {
  text-align: center;
  margin: 0 auto;
  width: 350px;
}

.Logo {
  margin: 100px 0 0 0;
}

.Title1 {
  font-size: 34px;
}

.Title2 {
  font-size: 14px;
}

p {
  margin: 0;
}

.Text {
  margin: 30px 0;
}
